body {backound-color: #ee82ee ; /* the selector on this "body" is not the right selector, need to find right selector so that the background color goes to all new webpages*/
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffc3ff ;
    font-size: xx-larg ;
}

.white {
    color:white ;
}

.green {
    color: green ;
}

#test {
    color:blue
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.font-styles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    font-weight: bold;
}

.headerone { 
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:5.5em;
    color:aqua;
    text-align: center;
    
      } 
      
.whiteshirt {
        float:right;
        width: 400px;
        margin-top: -220px;
}

.headertwo {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
color:rgb(255, 0, 212) ;
font-size: 2.6em;
text-align: center;
  
}

.headerthree {
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    text-align:right;
    color: #e7b7fd;
  }

 