body {
    background-image: url("images/pink-and-aqua-water.jpg");
    
}

.aliapic {
height: 16em;
border: 2em solid rgb(217, 190, 253);
display: flex;
align-content: center;
margin-left: 2em;
margin-top: 0%;
margin-bottom: 1.1%;



}



.aboutme {
    font-size: 12em;
   display:flex;
   justify-content: center;
   color: rgb(217, 190, 253);
   margin-top: -25%;
   margin-bottom: 0%;
   padding: 0%;
    font-family: "Love Light", cursive;
    font-weight: 200;
    font-style: normal;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
  }
  
  .headertwo {
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    border: 8px solid white;

  }

  .me {
    font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    display: flex;
    justify-content: center;
  }



  @keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}


