body {
    background-color: rgb(10, 6, 7);
    
}

.bgimage {
      background-image: url("images/red-tunneledit.jpg");
    background-size: 200px 11px;
    border-radius: 3%;
    background-repeat: no-repeat;
    background-color: rgb(10, 6, 7);
}

.aliapic {
height: 35em;
border-radius: 20%;
border-radius: round;
display: flex;
align-content: center;
margin-left: 2%;
margin-top:0%;
}

  
  .headertwo {
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    border: 8px solid white;
    color: white;

  }
  
  .h1 {
    font-size: 5em;
   display:flex;
   color: rgb(217, 190, 253);
   margin-top: -46%;
   margin-left: 74%;
   font-family: "Pacifico", cursive;
    font-weight: 200;
    font-style: normal;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
  }

  .resume {
    color: white;
    display: flex;
    justify-content: center;
    border: 8px solid white;
  }


  @keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}


.aboutmetext {
  font-size: 1.3em;
  color:rgb(255, 117, 117);
  display: flex;
  width: 15em;
  margin-left: 75%;
  margin-top: -3%;
}

.linksection {
  color: rgb(255, 117, 117);
  margin-bottom: -21%;
}

.link {
  font-size: 2em;
}

.linkedin {
  margin-left: 48%;
  margin-top: -16%;
  display: flex;
  height: 2.5em;
}

.instaimage {
  display:flex;
  height: 2.5em;
  margin-top: -16%;
  margin-left: 52%;


}
