body{
        background-image: url("images/night-city-re.jpg");
        background-repeat: no-repeat;
        background-color: black;
        border: 8px solid white;
        height: 40em
    
}

p {
    color: white;
}

.header1 {
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-size:3em;
    color:aqua;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.font-styles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    font-weight: bold;
}
     

.header2 {
    font-family: "Pacifico", cursive;
    margin-top: 0%;
    font-weight: 400;
    font-style:italic;
color:rgb(217, 190, 253) ;
font-size: 5em;
text-align: center;
margin-bottom: 0% ;
}

.headerthree {
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    text-align:left ;
    color: rgb(244, 248, 248);
    margin-bottom: 40%;
  }

 .get-to-know-me {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: left;
    color: rgb(217, 190, 253);
    border: 8px solid white;
    display: flex;
    height: 1em;
    width: 10em;
 }

 .me {
    color:aqua;
    font-size: 2em;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
 }

 .linkedin {
    color:aqua;
    font-size: 1em;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;

 }

.laptop {
    border: 8px solid white;

}