body {
        background-color: black;
        background-attachment: fixed;
        background-position: center;
        background-size: 40em 30em;     
}

/*SECTION ONE START*/

.GIF1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 25em
}

.header1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
color:rgb(197, 155, 253) ;
font-size: 1.8em;
text-align: center;
background-color: rgba(0, 0, 0, 0.427);
position: fixed;
top: 0 ;
right: 0;
left: 0;
z-index: 999;
width: 16.5em;
margin-left: 26.7%;
}

.footer {
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:2.5em;
    color:rgb(197, 155, 253);
    background-color: rgba(0, 0, 0, 0.427);
    text-align: center;
    position: fixed;
    bottom: 0;
right: 0;
left: 0;
z-index: 999;
margin-left: -9%;
} 

.intro {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
color:rgb(197, 155, 253) ;
top: 0 ;
right: 0;
left: 0;
z-index: 999;
   font-size: 3em;
   margin-left: 17%;
   margin-top: -38%;
}

.projectslink {
    font-size:1.2em;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color:#00d4ff;
   display: flex;
   margin-top: -8%;
   margin-left: 89%;
   position: fixed;
}

.contactlink {
    font-size:1.2em;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(197, 155, 253);
   display: flex;
   margin-top: -2%;
   margin-left: 87.5%;
   position: fixed;
}

.aboutmelink {
    font-size:1.2em;
        font-family: "Rock Salt", cursive;
        font-weight: 400;
        font-style: normal;
        color:#00d4ff;
   display: flex;
   margin-top: -10%;
   margin-left: 89%;
position: fixed;
}

.hiremelink {
    font-size:1.2em;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(197, 155, 253);
   display: flex;
   margin-top: -10%;
   margin-left: 89.5%;
   position: fixed;
}

.insta {
    display:flex;
    height: 2em;
    margin-top: -42.8%;
    margin-left:28.6%;
  }

.linkedin {
    margin-left: 68.8%;
    margin-top: -42.8%;
    display: flex;
    height: 1.9em;
  }

    /*SECTION ONE END*/
  
    /*SECTION TWO START*/

.s2h1aboutme {
    font-size:4em;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color:#00d4ff;
    display: flex;
   margin-top: 30%;
   justify-self: center;
}

.selfie {
    display: block;
    width: 12em;
    margin-top: -1%;
    margin-left: 53%;
}

.GIFweights {
    width: 18em;
    margin-top: -40%;
    margin-bottom: 13%;
    margin-left: 29.6%;
}

.GIFfun {
    width:18em ;
    margin-top: -39%;
    margin-bottom: 2.5%;
    margin-left: 29.6%;
}

.AliaRay {
    font-family: "Montserrat", sans-serif;
    color: rgb(197, 155, 253);
    justify-self: center;
    font-size: 3em;
    margin-top: -2%;
    text-decoration: underline;
    font-weight: 400;

}

.s1aboutme {
    color: rgb(197, 155, 253);
    width: 30em;
    display: flex;
    justify-self: center;
    font-size: 1.2em;
    text-align: center;
    margin-top: 1%;
}

.withallyourheart {
    width: 20em;
    margin-left: 38%;
    margin-top: 3%;
}

/*END OF SECTION TWO*/
/*START OF SECTION THREE*/

.h1hireme {
    font-size:4em;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color:#00d4ff;
    display: flex;
   margin-top: -1%;
   justify-self: center;

}

.skills {
    font-family: "Montserrat", sans-serif;
    color: rgb(197, 155, 253);
    justify-self: center;
    position: center;
    font-size: 3em;
    text-decoration: underline;
    font-weight: 400;
    margin-top: -2.5%;
}

.resumeskills {
    color: rgb(197, 155, 253);
    justify-self: center;
    font-size: 2em;
    justify-items: left;
    margin-top: 0.5%;
    padding-bottom:1%;
}

.logos {
    margin-left: 35%;
    
    }

.jslogo {
    width: 10em;
}

.csslogo {
    width: 7.1em;
    padding: 0%;
}

.htmllogo {
    width: 10.3em;
    padding: 0%;
}


.gitlogo {
    width: 10em;
    margin-left: 35%; 
    height: 7em;
}


.create {
width: 16.5em;
margin-left: 48%;
margin-top: -9%;
padding: 0%;
margin-bottom: 3%;
}

/*END OF SECTION THREE*/
/*START OF SECTION FOUR*/

.h1projects {
    font-size:4em;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color:#00d4ff;
    display: flex;
   margin-top: 0%;
   justify-self: center;
}

.projects {
    color: rgb(197, 155, 253);
    justify-self: center;
    font-size: 2em;
    margin-top: -2%;
}

.doitnow {
width: 15em;
height: 20em;
display: block;
margin-left: 23%;
margin-top: -25%;
}

.youcandoit {
    width: 15em;
height: 20em;
display: block;
margin-left: auto;
position: right;
margin-right: 23%;
margin-top: -25.3%;
}

.humanheart {
    margin-left: 38%;
}

.pagebreak {
    color:rgba(254, 251, 251, 0.107);
    background-color: rgba(254, 251, 251, 0.107);
    font-size: .6em;
    margin-top: 3%;
}

/*END OF SECTION FOUR*/
/*START OF SECTION FIVE*/

.contact {
    font-size:4em;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color:#00d4ff;
    display: flex;
   margin-top: 5%;
   justify-self: center;
}


/*CONTACT ME FORM START*/
.contactform{
    input[type=text], select, textarea {
        width: 30%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: .3em solid #00d4ff; /* Gray border */
        border-radius: 20px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 0em; /* Add a top margin */
        margin-bottom:0.6em; /* Bottom margin */
        resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally)*/
        margin-left: 36%;
    }
}


input[type=submit] {
    background-color: #00d4ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  input[type=submit]:hover {
    background-color: rgb(197, 155, 253);
  }

.label1 {
    margin-left: -6%;
}

/*CONTACT FORM END*/


/* START OF ANIMATED CUBE*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@keyframes animate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

.container {
	position: relative;
    margin-left: 50%;
    padding:0;
	top: -80px;
	transform: skewY(-20deg);
	animation: animate 5s linear infinite;
	.cube {
		position: relative;
		z-index: 2;
		&:nth-child(2) {
			z-index: 1;
			translate: -60px -60px;
		}
		&:nth-child(3) {
			z-index: 3;
			translate: 60px 60px;
		}
		div {
			position: absolute;
			display: flex;
			flex-direction: column;
			gap: 30px;
			translate: calc(-70px * var(--x)) calc(-60px * var(--y));
			span {
				position: relative;
				display: inline-block;
				width: 50px;
				height: 50px;
				background: #dcdcdc;
				z-index: calc(1 * var(--i));
				transition: 1.5s;
				&:hover {
					transition: 0s;
					background: #ef4149;
					filter: drop-shadow(0 0 30px #ef4149);
					&:before, 
					&:after {
						transition: 0s;
						background: #ef4149;
					}
				}
				&:before {
					content: "";
					position: absolute;
					left: -40px;
					width: 40px;
					height: 100%;
					background: #fff;
					transform-origin: right;
					transform: skewY(45deg);
					transition: 1.5s;
				}
				&:after {
					content: "";
					position: absolute;
					top: -40px;
					left: 0px;
					width: 100%;
					height: 40px;
					background: #f2f2f2;
					transform-origin: bottom;
					transform: skewX(45deg);
					transition: 1.5s;
				}
			}
		}
	}
}
/*END OF ANIMATED CUBE*/

/*START OF HEART/DO WHAT YOU LOVE ANIMATION*/
:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  * {
    box-sizing: border-box;
  }

  
  .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  
  /*END OF HEART/DO WHAT YOU LOVE ANIMATION*/