body {background-color: rgb(215, 83, 255) ; /* the selector on this "body" is not the right selector, need to find right selector so that the background color goes to all new webpages*/
    display: flex;
    justify-content: flex-start;
    align-items:flex;
    flex-direction:column;

}

section {
  
}



.header1 {
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    border: 8px solid black ;
    align-items: center;
    width: 15em;
    font-weight: 400;
    font-style: normal;
    font-size:5em;
    color:aqua;
    text-align: center;
}

.font-styles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    font-weight: bold;
}
     
      
.whiteshirt {
        float:right;
        width: 400px;
        margin-top: -220px;
}

.header2 {
    font-family: "Pacifico", cursive;
    border: 8px solid black;

    font-weight: 400;
    font-style:italic;
color:rgb(217, 190, 253) ;
font-size: 2.8em;
text-align: center;
}

.headerthree {
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    text-align:left ;
    color: rgb(244, 248, 248);
  }

 .get-to-know-me {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-align: left;
    color: rgb(217, 190, 253);
 }

 .me {
    color:aqua;
    font-size: 2em;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
 }

